<html>
 <head>
    <title>Error !!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body style="background-color: black; color: white;">

    <div class="nav">
        <nav>
            <a href="{{url_for('home')}}"><button>Home</button></a>
        </nav>
    </div>

   

    <div style="padding: 15px;" align="center">
        <h1>Error !!!!!</h1>
    </div>
    <div style="padding: 10px;" align="center">
        <h1>{{ data }}</h1>
    </div>
    
</div>
</body>
</html>
