<html>
 <head>
    <title>Invigilator details - Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body style="background-color: black; color: white;">

    <div class="nav">
        <nav>
            <a href="{{url_for('admin')}}"><button>Home</button></a>
            <a href="{{url_for('home')}}"><button>Log out</button></a>
        </nav>
    </div>

   

    <div style="padding: 15px;" align="center">
        <h1>Invigilator Details</h1>
    </div>
    <div style="padding: 10px;"></div>
    <table  calss="allot_list" border="border" align="center">
        <tr><th style="padding: 10px;">Employee ID</th><th>Employee Name</th><th>Phone No</th><th>Email</th><th>Address</th></tr>
        {% for i in data %}
            <tr>
                <td>{{ i['emp_id'] }}</td>
                <td>{{ i['full_name'] }}</td>
                <td>{{ i['ph_no'] }}</td>
                <td>{{ i['email'] }}</td>
                <td>{{ i['address'] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
